@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Parisienne&display=swap');
body {
    background-color: wheat;
    padding: 0;
    margin: 0;
    font-family: 'merriweather',;
}
a{
    color: rgb(109, 17, 17);
}

a:last-of-type {
    margin-bottom: 10px;
    display: block;
}
pre{
    display: none;
}
table {
    display: none; 
}
.illus{
    display:table;
    text-align: center;
    margin: auto; 
}
.title {
    font-family: 'Parisienne';
    font-size: 4em;
    color: rgb(109, 17, 17);
    text-transform: lowercase;
}
h1.title {
    font-size: 8em;
}
p {
    margin: 3px auto;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
  }
  p.illus {
      padding: 0px;
      margin: 0px;
      text-align: right; 
      width: auto; 
  }
p+p {
    text-indent: 1em;
}
.preface1 {
    text-indent: 0px;
}
.preface2 {
    text-indent: 0px;
}
h1,h2,h3,h4,h5 {
    text-align: center;
}
hr + h2:first-of-type {
font-size: 5em;
}

img {
    width: 50vw;
    margin: auto; 
    display: block; 
}
hr{
    display: none;
}
.contents {
    text-align: center; 
}
.illustrations {
    text-align: center; 
}
p:nth-of-type(3n), p:nth-of-type(5n) {
    padding-right:0vw;
    padding-left:20vw;
}
p:nth-child(2n) {
    padding-right:0vw;
    padding-left:10vw;
}
p:first-of-type {
    padding: 0px;
}
h4 + p::first-letter {
font-size: 2em;
}
p~h2{
    color: rgb(45, 68, 45);
    text-transform: lowercase;
    margin-top: 0px;
    font-family: 'Parisienne';
    font-size: 4em;
}
h2 a {
    color: rgb(45, 68, 45);
    font-family: 'Parisienne';
    text-transform: lowercase;
    font-size: 2em;
}
.title2 > h2{
    font-family: 'Parisienne';
    font-size: 5em; 
}
h3:first-child {
    font-family: 'Parisienne';
    font-size: 2em; 
    margin-bottom: 0px;
    margin-top:0px;
}
.title h2:last-child{
    text-transform: lowercase;
    margin-top: 0px;
}
.title br, .title2 + br {
    display: none;
    margin-top: 0px; 
}
h4 {
    text-transform: lowercase;
    margin-top: 0px;
    font-family: 'Parisienne';
    font-size: 2em;
}
.title2 :only-child{
    color: rgb(45, 68, 45); 
}

h4:first-of-type{
    display:none;
}

.book h4:first-of-type{
    display:block;
}







/* ----------- TABLETS ----------- */
@media only screen and (min-width: 800px) and (max-width: 1280px) {
    p{
        margin: auto;
            margin-top: auto;
            margin-right: auto;
            margin-bottom: 20px;
            margin-left: auto;
        padding: 0;
            padding-top: 0;
            padding-right: 30vw;
            padding-bottom: 0;
            padding-left: 30vw;
        font-size: 1 em;
        color: black;
        font-family: 'merriweather',;
        width: 60vw;
        max-width: 600px;
        line-height: 1.4em;
        letter-spacing: 1px;
    }
}
    /* ----------- SMART PHONES ----------- */
@media only screen and (max-width: 800px) {
    p{  
        width: 80vw;
        padding: 0;
    }
    p:nth-child(2n){
        padding: 0;
    }
    p:nth-of-type(3n){
        padding: 0;
    }
    p:nth-of-type(5n){
        padding: 0;
    }
    .title {
        font-size: 2em;
    }
    h1.title {
        font-size: 5em;
    }
    h2 a {
        color: rgb(45, 68, 45);
        font-family: 'Parisienne';
        text-transform: lowercase;
        font-size: 1em;
    }
    .title2 :only-child{
        color: rgb(45, 68, 45); 
        font-size: .5em;
    }
    hr + h2:first-of-type {
        font-size: 3em;
        }
    p~h2{
        color: rgb(45, 68, 45);
        text-transform: lowercase;
        margin-top: 0px;
        font-family: 'Parisienne';
        font-size: 2em;
        }
}